
		.container {
			text-align:center;
		}
		
		.password {
			text-align:center;
			font-size:2rem;
			margin-bottom:25px;
			color:#f39c12;
			font-family:consolas,courier;
			background-color:#eee;
			display:inline-block;
			padding:15px;
			font-weight:700;
		}
		
		.instructions{
			text-align:left;
		}	
		
		.steps{
			text-align:left;
		}	
				
		.
		
		.
		
	
